.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
nav ul{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}
nav li{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
     width:10rem ;}




nav in ul in li{
    font-family: "Poppins", sans-serif;
    display:  inline-block;
}
nav a:hover{
color: inherit;

}
nav in ul ul{
    font-family: "Poppins", sans-serif;
 display: name;
}